@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rqclge');
    src:  url('../fonts/icomoon.eot?rqclge#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?rqclge') format('truetype'),
      url('../fonts/icomoon.woff?rqclge') format('woff'),
      url('../fonts/icomoon.svg?rqclge#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-envelope:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-twitter:before {
    content: "\e902";
  }
  .icon-menu:before {
    content: "\e903";
  }
  .icon-mouse:before {
    content: "\e904";
  }
  .icon-facebook:before {
    content: "\e905";
  }
  .icon-hand:before {
    content: "\e906";
  }
  

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    padding: 20px;
    width: 100%;
    background-color: white;
}


.burger-button {
    border-radius: 50%;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgba(79, 120, 214, 0.9);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    top: 15px;
    right: 10px;
    display: none;
    z-index: 2;
}


.swipe-container {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.swipe-icon {
    width: 120px;
    height: inherit;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: inherit;
    text-align: center;
}
.text-swipe {
    font-size: 13px;
    width: 100%;
    padding: 5px 0;
}

.header {
    display: flex;
    height: 100px;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 17px;
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    -webkit-box-shadow: 2px 0px 23px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 23px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 0px 23px -8px rgba(0, 0, 0, 0.75);
}
.header li {
    padding: 1.2em;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: 90px;
}

.video-container {
    display: flex;
    height: auto;
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.hero .video-container {
    width: 100%;
    height: inherit;
    filter: brightness(.5);
}

.hero .video-container video {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.hero-title {
    position: absolute;
    z-index: 1;
    color: white;
    padding: 10px;
    padding-right: 50%;
    width: inherit;
    height: inherit;
}

.hero-title span {
    color: white;
    background-color: #4F78D6;
    padding: 5px;
}

.hero-container {
    align-items: center;
    position: relative;
    display: flex;
}

.logo {
    align-self: center;
}

.logo img {
    height: 80px;
}

.html-video {
    object-fit: cover;
}

.menu {
    display: flex;
    right: 0;
}

.menu ul {
    display: flex;
    display: inherit;
    list-style: none;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}
@media screen and (max-width:1024px) {
    .hero-title {
        font-size: 1em;
    }
}
@media screen and (max-width:777px) {
    .menu {
        display: none;
    }
    .logo img {
        height: 55px;
    }
    .header {
        height: 70px;
    }
    .burger-button {
        display: flex;
    }
    .hero-title{
        font-size: .9em;
    }
}
@media screen and (max-width:482px) {
    .hero-title {
        font-size: .8em;
    }
}
@media screen and (max-width:375px) {
    .hero-title { 
        font-size: .7em;
    }
}
@media screen and (max-width:320px) {
    .hero-title {
        font-size: 18vw;
    }
}